src/main/resources/xsd/types/accountStatementRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsT="http://com/xsdSchemas/types" elementFormDefault="qualified"
	targetNamespace="http://com/xsdSchemas/accountStatementRequest">
	<xs:import namespace="http://com/xsdSchemas/types"
		schemaLocation="types.xsd" />
	<xs:element name="accountStatementRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="accountNumber" type="xsT:accountNumber"></xs:element>
				<xs:element name="date" type="xs:date"></xs:element>
				<xs:element name="sectionOrdinate" type="xsT:ordinate2"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>